
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_partial2</title>
</head>
<body>
    <div>
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Web 2
            </div>
            <ul class="list-group list-group-flush">
                <li class="ist-group-item">Ejercicios</li>
                <li class="list-group-item">@Html.ActionLink("Ejercicio 1", "Index", "Ejercicio1")</li>
                <li class="list-group-item">@Html.ActionLink("Ejercicio 2", "Index", "Ejercicio2")</li>
                <li class="list-group-item">@Html.ActionLink("Ejercicio 3", "Index", "Ejercicio3")</li>
                <li class="list-group-item">Ejercicio4</li>
                <li class="list-group-item">@Html.ActionLink("Ejercicio 5", "Index", "Ejercicio5")</li>

            </ul>
        </div>
    </div>
</body>
</html>
