
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_vistamayor</title>
</head>
<body>
    <div>
        <input class="form-control-lg" type="text" name="" value="@ViewBag.Cantidad" />

    </div>
</body>
</html>
